<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Password Reset</title>
  <style>body{background:#f1f1f1;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;margin:0;padding:0;text-align:center}.container{max-width:600px;margin:0 auto;background:#fff;border-radius:20px;padding:30px 10px;box-shadow:0 8px 30px rgba(0,0,0,.05)}.illustration img{max-width:40%;height:auto;margin:20px 0}h1{font-size:34px;margin:10px 0;font-weight:600}h2{max-width:330px;font-size:20px;margin:0 auto 30px;font-weight:500}p.description{font-size:15px;color:#666;max-width:350px;margin:0 auto 30px}.reset-btn{background:#8b075b;color:#fff!important;padding:12px 30px;font-size:16px;border:none;border-radius:8px;cursor:pointer;text-decoration:none;display:inline-block;transition:.3s}.reset-btn:hover{background:#722453}.footer{background:#f8fafc;padding:10px;text-align:center;border-top:1px solid #e2e8f0;font-size:13px;color:#444;margin-top:20px}</style>
</head>
<body>
  <div class="container">
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <h1 style="font-size:24px; margin:20px 0; font-weight:600; color:#000; text-align:center;">Hello <span th:text="${userName}">User</span>!!</h1>
        </td>
      </tr>
    </table>
    <div class="illustration">
      <img src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/7631/password_reset.png" alt="Reset Illustration">
    </div>
    <h2>Reset your password in order to secure your login sessions</h2>
    <p class="description">This password setup link will expire in 7 days. If you don't set up your password within this time, please contact your administrator for assistance.</p>
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <a th:href="${resetUrl}" class="reset-btn">Reset Password</a>
        </td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <p>&copy; 2025 Lambdar-Asset-Management. All rights reserved.</p>
  </div>
</body>
</html>